{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-react", {
      "pragma": "createElement",
      "pragmaFrag": "Fragment"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
} 